@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, ::before, ::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}


.container {
  max-width: 1095px;
  padding: 0 60px;
  padding-top: 0px;
  margin: 0 auto;
  box-sizing: content-box;
}

header {
  position: relative;
  background: #f7f7f7;
  padding: 15px 0 0 0;
}

header > .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header > .container > .logo {
  width: 100px;
  height: 100px;
  background: url(../img/logo1.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

header > .container > .menu {
  
}

header > .container > .menu > ul {
  justify-content: center;
  padding: 12px 0;
  text-align: center;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  font-size: 14px;
  list-style-type: none;
  font-family: "Exo 2", sans-serif;
  color: gray;
}

header > .container > .menu > ul > li {
  margin: 0 19px;
  padding: 8px 0;
  position: relative;
  line-height: 1;
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: .05em;
  cursor: pointer;
}
header > .container > .menu > ul > li:hover {
  color: #e46556;
}

/*/////section1////*/
.s1 {
  position: relative;
  height: 650px;
  background: #f7f7f7 url(../img/b5.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.s1 > .container > h1 {
    font-family: "Russo One", sans-serif;
  font-weight: 400;
  font-style: normal;
  width: 655px;
  font-size: 65px;
  line-height: 60px;
  top: 275px;
  position: absolute;
  color: gray;
}

.s1 > .container > h1 > span {
    color: #e46556;
}

.s1 > .container > button {
    position: absolute;
  top: 445px;
  background: #e46556;
  border: 1px #e6e6e6 solid;
  padding: 15px 30px 15px 30px;
  border-radius: 25px;
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}
.s1 > .container > button:hover {
    background: grey;
}


/*/////section2////*/
.s2 {
  padding: 100px 0 100px 0;
}
.s2 > .content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.s2 > .container > .progress {
  width: 24%;
  height: 275px;
  margin: 5px;
  background: #f7f7f7;
  border-radius: 5px;
}
.s2 > .container > .t {
  width: 100%;
  font-family: 'Merriweather', sans-serif;
  font-size: 45px;
  text-transform: uppercase;
  color: #5b5b5b;
  margin: 55px 0 55px 5px;
}
.s2 > .container > .progress > .image {
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100px;
  margin: 15px auto;
}
.s2 > .container > .progress > .i1 {
  background-image: url(../img/a_i1.png);
  background-size: 110px;
}
.s2 > .container > .progress > .i2 {
  background-image: url(../img/a_i2.png);
  background-size: contain;
}
.s2 > .container > .progress > .i3 {
  background-image: url(../img/a_i3.png);
  background-size: contain;
}
.s2 > .container > .progress > .i4 {
  background-image: url(../img/a_i4.png);
  background-size: contain;
}
.s2 > .container > .progress > .i5 {
  background-image: url(../img/a_i5.png);
  background-size: 130px;
}
.s2 > .container > .progress > .i6 {
  background-image: url(../img/a_i6.png);
  background-size: contain;
}
.s2 > .container > .progress > .i7 {
  background-image: url(../img/a_i7.png);
  background-size: contain;
}
.s2 > .container > .progress > .i8 {
  background-image: url(../img/a_i8.png);
  background-size: 90px;
}
.s2 > .container > .progress > .info {
  margin-top: 15px;
  padding: 0 10px 0 10px;
}
.s2 > .container > .progress > .info > span {
  font-size: 60px;
  font-family: "Russo One", sans-serif;
  display: inline-block;
  position: relative;
  text-align: center;
  width: 100%;
}
.s2 > .container > .progress > .info > p {
  font-size: 18px;
  text-align: center;
  color: #666;
  font-family: "Exo 2", sans-serif;
  line-height: 20px;
}


/*/////section3////*/
.s3 {
  margin-top: 150px;
  margin-bottom: 100px;
}
.s3 > .content {

}
.s3 > .content > .group1 {
display: flex;
justify-content: space-between;
flex-wrap: wrap;
align-items: center;
}
.s3 > .content > .group1 > .b1 {
  font-family: 'Merriweather', sans-serif;
  font-weight: 400;
  font-size: 45px;
  text-transform: uppercase;
  line-height: 64.8px;
  color: #5b5b5b;
}
.s3 > .content > .group1 > .b2 {
  
}

.s3 > .content > .group1 > .b2 > .controls {
  position: relative;
  display: flex;
  align-items: center;
}
.s3 > .content > .group1 > .b2 > .controls > button {
background-color: #313131;
background-size: 10px;
background-position: center;
background-repeat: no-repeat;
border: none;
cursor: pointer;
width: 44px;
height: 44px;
border-radius: 50%;
display: inline-block;
}
.s3 > .content > .group1 > .b2 > .controls > button:hover {
  background-color: #e46556;
}
.s3 > .content > .group1 > .b2 > .controls > #prevBtn {
  left: 0;
  background-image: url(../img/prev.png);
}
.s3 > .content > .group1 > .b2 > .controls > #nextBtn {
  right: 0;
  background-image: url(../img/next.png);
}
.s3 > .content > .group1 > .b2 > .controls > #counter {
  color: grey;
  padding: 0 14px 0 14px;
  display: inline-block;
  font-family: 'Golos Text', sans-serif;
  font-weight: 400;
  font-size: 16px;
}
/***m**/
.s3 > .content > .group2 > .slider-container > .m_controls {
  position: relative;
  display: flex;
  align-items: center;
  display: none;
}
.s3 > .content > .group2 > .slider-container > .m_controls > button {
background-color: #313131;
background-size: 10px;
background-position: center;
background-repeat: no-repeat;
border: none;
cursor: pointer;
width: 44px;
height: 44px;
border-radius: 50%;
display: inline-block;
}
.s3 > .content > .group2 > .slider-container > .m_controls > button:hover {
  background-color: #e46556;
}
.s3 > .content > .group2 > .slider-container > .m_controls > #m_prevBtn {
  left: 0;
  background-image: url(../img/prev.png);
}
.s3 > .content > .group2 > .slider-container > .m_controls > #m_nextBtn {
  right: 0;
  background-image: url(../img/next.png);
}
.s3 > .content > .group2 > .slider-container > .m_controls > #m_counter {
  color: grey;
  padding: 0 14px 0 14px;
  display: inline-block;
  font-family: 'Golos Text', sans-serif;
  font-weight: 400;
  font-size: 16px;
}
/******/
.s3 > .content > .group2 > .slider-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 40px 0 0 0;
}

.s3 > .content > .group2 > .slider-container > .slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.s3 > .content > .group2 > .slider-container > .slider > .slide {
  flex: 0 0 16.66%;
  height: 355px;
  box-sizing: border-box;
  text-align: center;
  padding: 5px;
}
.s3 > .content > .group2 > .slider-container > .slider > .slide > .b_g {
  background: #e8e8e8;
  height: 100%;
  border-radius: 10px;
}
.s3 > .content > .group2 > .slider-container > .slider > .slide > .b_g > .year {
  height: 70px;
  line-height: 70px;
  font-size: 40px;
  background: #e46556;
  border-radius: 10px;
  color: #fff;
}
.s3 > .content > .group2 > .slider-container > .slider > .slide > .b_g > .details {
  font-size: 16px;
  font-family: "Exo 2", sans-serif;
  color: #575656;
  padding: 40px 5px 0 5px;
}


/*/////section4////*/
.s4 {

    }
.s4 > .content {
  display: flex;
  flex-wrap: wrap;
}
.s4 > .container > .t {
  width: 100%;
  font-family: 'Merriweather', sans-serif;
  font-size: 45px;
  text-transform: uppercase;
  color: #5b5b5b;
  margin: 55px 0 55px 5px;
}
.s4 > .container > .b {
  position: relative;
  width: 50%;
  height: 170px;
  margin: 0 0 45px 0;
  padding: 0 0 0 100px;
  font-family: "Exo 2", sans-serif;
  font-size: 20px;
  color: #514e4e;
  font-weight: 300;
}
.s4 > .container > .b::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100%;
  left: 0;
  top: 0;
  background: url(../img/yes.png);
  background-size: 55px;
  background-position: center 10px;
  background-repeat: no-repeat;
}
.s4 > .container > .b > span {
  color: #e46556;
  font-weight: 500;
}
.s4 > .container > .b > p {
  margin-top: 20px;
}



@media (min-width: 2560px) {
  
}

@media (max-width: 1680px) {
 
}

@media (max-width: 1600px) {
  
}

@media (max-width: 1536px) {
  
}

@media (max-width: 1440px) {
 
}

@media (max-width: 1366px) {
  
}

@media (max-width: 1280px) {
  
}

@media (max-width: 1180px) {
  
}

@media (max-width: 1024px) {
  
}

@media (max-width: 768px) {
  header > .container > .logo {
    width: 155px;
    height: 155px;  
    margin: 10px auto;
  }
  header > .container > .menu {
    display: none;
  }

  .container {
    padding: 0 30px;
  }

  /*/////section1////*/
  .s1 > .container > h1 {
    position: relative;
    width: 100%;
    font-size: 30px;
    text-align: center;
    padding-top: 105px;
    top: 0;
    line-height: 35px;
  }
  .s1 > .container > button {
    position: relative;
    top: 0;
    width: 100%;
    margin-top: 250px;
  }
  /*/////section2////*/
  .s2 {
    padding: 35px 0 35px 0;
  }
  .s2 > .container > .progress {
    width: 100%;
  }
  .s2 > .container > .t {
    font-size: 36px;
  }

  /*/////section3////*/
  .s3 > .content > .group1 > .b1 {
    font-size: 36px;
    line-height: 39.6px;
  }
  .s3 > .content > .group2 > .slider-container > .slider > .slide {
    flex: 0 0 100%;
    height: 388px;
  }
  .s3 > .content > .group2 > .slider-container > .slider > .slide > .b_g > .details {
    font-size: 20px;
    padding: 40px 15px 0 15px;
    font-weight: 300;
  }
  .s3 > .content > .group1 > .b2 > .controls {
    display: none;
  }
  .s3 > .content > .group2 > .slider-container > .m_controls {
    display: block;
  }
  .s3 > .content > .group2 > .slider-container > .m_controls {
    display: flex;
    justify-content: center;
    margin-top: 35px;
  }



  .s4 > .container > .b {
    width: 100%;
    height: auto;
    padding: 0 0 0 65px;
  }
  .s4 > .container > .b::before {
    width: 55px;
    background-size: 40px;
  }
  .s4 > .container > .t {
    width: 100%;
    font-size: 36px;
  }
}

@media (max-width: 534px) {
  
}

@media (max-width: 414px) {
  
}

@media (max-width: 390px) {
  
}

@media (max-width: 375px) {
  
}

@media (max-width: 360px) {
  
}